
<div class="container-fluid">
    <div class="main-wrapper">
      <div class="responsive-table">
    <div class="row">
      
      <div class="col-md-2"></div>
      <div class="col-md-10" >
        <div class="card-body">
          <div class="card">
            <div class="card-body ritekhela-fancy-title-two">
              <div class="centopp">
                <table style="border: none">
                  <tr>
                    <td>
                      <h4 style="color: #001b85">
                        Consultation pret et avance 
                      </h4>
                    </td>
                    <td>
                 
                  
                    </td>
                  </tr>
                </table >
  
                <hr />
              
                <div class="cadre-table-scroll" >
                <div class="cadre-table-scroll">
  
                  <div  style="width:10%">
                  <label for="manufacturername">Code prêt</label>
  
                  <select (change)="test()"  [(ngModel)]="codepret" name="option" class="form-control" id="selectAction" *ngIf="array">
                    <option>aucun</option>
                                <option *ngFor="let op of array.listCodPret"  [ngValue]="op" >
                                      {{ op}}
                                  </option>
                              </select>    
                            </div> 
  
                       
                  <br>
                </div>
  
              
                <table class="table table-borderless i_table" style="width: 100%" *ngIf="list">
                  <tbody>
                  
                    <tr>
                      <td scope="row">Organisme prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.org_pret}}
                        />
                      </td>
                      <td scope="row">Libellé Organisme</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.typ_pret}}
                        />
                      </td>
                      <td scope="row"> </td>
                      <td *ngIf="list">
                        <input  disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value=""
  
                        />
                      </td>
                      <td scope="row">Délai grâce</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.delai_grace}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Etat prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.cod_etat_pret}}
                        />
                      </td>
                      <td scope="row">Montant global</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_mnt_glb}}
                          
                        />
                      </td>
                      <td scope="row">Date début</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_deb}}
                        />
                      </td>
                      <td scope="row">Date fin</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_fin}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Groupe prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.cod_grp_pret}}
  
                        />
                      </td>
                      <td scope="row">Taux</td>
                      <td>
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_taux}}
                        />
                      </td>
                      <td scope="row">Echéance</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_ech}}
                        />
                      </td>
                      <td scope="row">Réference prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ref_pret}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Code prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.cod_pret}}
                        />
                      </td>
                      <td scope="row">Libellé prêt</td>
                      <td *ngIf="list">
                        <select  class="form-control" >

                          <option>
                            {{list.lib_pret}}

                          </option>
                        </select>
                      
                      </td>
                     <!--  <td scope="row">Code Prêt</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ligPretPers[0].cod_pret}}
                        />
                      </td> -->
                      <td scope="row">Date accord</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_dat_acc}}
                        />
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">Date saisie</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.dat_saisie}}
                        />
                      </td>
                      <td scope="row">Rendu</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.prt_rendu}}
                          
                        />
                      </td >
               <!--        <td scope="row">Repliquat</td>
                      <td *ngIf="list">
                        <input disabled
                          type="text"
                          class="form-control"
                          id="inputPassword3"
                          placeholder=""
                          style="font-size: 12px"
                          value={{list.ref_pret}}
  
                        />
                      </td> -->
                    
                    </tr>
                   
                  </tbody>
                </table>
              </div>
              <ag-grid-angular  


              style="width: 100%; height: 300px;" 
              class="ag-theme-alpine"
              [rowData]="listlig" 
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [pagination]="true"
              [modules]="modules"
              (cellClicked)="onCellClicked($event)"
              
              >
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div></div>