<div class="container-fluid">
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-2 col-sm-3">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="bx bx-notepad
                d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Agenda de contrat</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
  
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Agenda Echéance contrat </h1> <h4 style=color:#2a3042;> </h4>
                          <p class="card-title-desc"> information </p>
  
                          <form>
                            <div class="row">
                              <div class="col-12">
                                <div class="card">
                                  <div class="card-body">
                                    <div class="app-calendar">
                                      <!-- calendar -->
                                      <full-calendar [options]="calendarOptions"></full-calendar>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
  
                  
                    </div>
                  </div>
                  <!-- end row -->
                </div>
                <!-- container-fluid -->
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>
                <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
                <p class="fw-bold mb-4">Selectionner par date</p>
              </a>
              <ng-template ngbNavContent>
                <div class="container-fluid">
                  <!-- start page title -->
  
                  <!-- end page title -->
  
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                          <h1 class="card-title">Consultation contrat </h1> 
                          <p class="card-title-desc">Information </p>
  
                          <form #gfg = "ngForm">
                            <div class="row">
                              <div class="col-sm-6">
                                <div  class="mb-3">
                                  <label for="productname"> Date 1</label>
                                  <input
                                  [(ngModel)]="date1"
                                    id="date1"
                                    name="date1"
                                    type="date"
                                    class="form-control"
                                  
                                  />
                                </div>
                              </div>
                              
                              <div class="col-sm-6">
                                <div    class="mb-3">
                                  <label for="price">
                                    Date 2
                                  </label>
                                  <input
                                 
                                  [(ngModel)]="date2"
                                    name="date2"
                                    id="date2"

                                    type="date"
                                    class="form-control"
                                  />
                                  <div class="invalid-feedback">

                                  </div>
                                 </div>
                              
  
                                 </div>
                                 <div class="col-sm-6">
                                    <div    class="mb-3">
                                      
                                      <button
                                      (click)="onGetValue()"  
                                        
                                        class="form-control"
                                        value=""
                                      >chercher</button>
                                      <div class="invalid-feedback">
    
                                      </div>
                                     </div>
                                  
      
                                     </div>
                            </div>
                            <div class="d-flex flex-wrap gap-2 mt-2">
  
  
                            </div>
                           
                          
                         
                          </form>
                        </div>
                      </div>
  
                     
                    </div>
                    <div class="row">
                      <div class="col-12">
                      <ag-grid-angular
                      style="display: flex; flex-direction: column; height: 500px"
                      class="ag-theme-alpine"
                      [rowData]="list"
                      [columnDefs]="columnContrat"
                      [pagination]="true"
                      [modules]="modules"
            
                    >
                    </ag-grid-angular>
                    </div></div>
                  </div>
                  <!-- end row -->
                </div>
              
                <!-- container-fluid -->
  
              </ng-template>
            </li>
            
          </ul>
        </div>
        
        <div class="col-lg-10">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    </div>
  </div>
  